extends layout

block content
  h1= title
  p Welcome to #{title}
  p Show links for demo:
    ul
      li
        a(href='/v1/products')= 'List all products'

      each cat in categories
        li
          a(href='/v1/categories/'+cat.id)='List products in category : ' + cat.name